<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Arkarh: Battle Simulation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="js/BattleSimulator/BattleSimulator.js"></script>
        <link rel="stylesheet" type="text/css" href="css/battleSimulation.css"/>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>
    <body>
        <table class="center">
            <tr>
                <th></th>
            </tr>
            <tr>
                <td>Attackers Reserves
                    <br>
                    <canvas id="attackerCanvas" width="1000" height="150" style="border:1px solid #000000;"></canvas>
                    <br>
                </td>
            </tr>
            <tr>
                <td>Battlefield
                    <br>
                    <canvas id="battleCanvas" width="1000" height="250" style="border:1px solid #000000;"></canvas>
                    <br>
                </td>
            </tr>
            <tr>
                <td>Defenders Reserves
                    <br>
                    <canvas id="defenderCanvas" width="1000" height="150" style="border:1px solid #000000;"></canvas>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <th>
                            <textarea id="combatlog" rows="10" cols="100" style="resize: none;" readonly></textarea>
                        </th>
                        <th>
                            <div id="simulationControls"></div>
                        </th>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    <script>
        var combatData = window.opener.editor.armies;
        var attackerCanvas = document.getElementById("attackerCanvas");
        var defenderCanvas = document.getElementById("defenderCanvas");
        var battleCanvas = document.getElementById("battleCanvas");
        var combatlog = document.getElementById("combatlog");
        var simulationControls = document.getElementById("simulationControls");
        var sim = new Simulation(attackerCanvas, defenderCanvas, battleCanvas, combatlog, combatData, simulationControls);
    </script>
</html>
