<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="js/index.js"></script>
    </head>
    <body>
        <button onclick="openInNewTab('/mapGenerator')">Map Generator</button><br>
        <button onclick="openInNewTab('/unitEditor')">Unit Editor</button><br>
        <button onclick="openInNewTab('/battleSim')">Battle Simulator</button><br>
        <button onclick="openInNewTab('/testBattle')">Test battle</button><br>
        <button onclick="openInNewTab('/test')">Test</button><br>
    </body>
</html>
