<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/editor/modal.css"/>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
	<script type="text/javascript" src="js/unitEditor/unitsTable.js"></script>
	<script type="text/javascript" src="js/unitEditor/UnitModal.js"></script>
    </head>
    <body>
        <!-- The Modal -->
    <div id="new_unit_modal" class="modal">

    </div>
        <table style="width: 100%">
            <tr>
                <td width="25%"></td>
                <td width="50%">
                    <button id="new_unit_button">New Unit</button>
                    <button id="delete_unit_button">Delete</button>
                    <button id="update_unit_button">Update</button>
                    <br><br>
                    <table id="units_table" class="cell-border" style="text-align: top">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Asset Name</th>
                                <th>Fraction</th>
                                <th>Role</th>
                                <th>Tier</th>
                            </tr>
                        </thead>
                    </table>
                    <br><br>
                    <button id="new_ability_button">New Ability</button>
                    <button id="delete_ability_button">Delete</button>
                    <button id="update_ability_button">Update</button>
                    <br><br>
                    <table id="unit_ability_table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Group</th>
                                <th>Asset</th>
                                <th>Charges</th>
                            </tr>
                        </thead>
                    </table>
                </td>
                <td width="25%"></td>
            </tr>
        </table>
    </body>
    <script>
        var unitsTables = new UnitsTables();
        unitsTables.init('units_table', 'unit_ability_table');
        var unitsTable = unitsTables.unitsTable;
        var newUnitButton = document.getElementById("new_unit_button");
        newUnitButton.onclick = function(){
            var modal = document.getElementById("new_unit_modal");
            createNewUnit(modal, unitsTable);
        }
        var updateUnitButton = document.getElementById("update_unit_button");
        updateUnitButton.onclick = function(){
            var modal = document.getElementById("new_unit_modal");
            var unit = unitsTable.getSelected();
            updateUnit(modal, unitsTable, unit);
        }
        var deleteButton = document.getElementById("delete_unit_button");
        deleteButton.onclick = function(){
            unitsTable.deleteSelected();
        }
    </script>
</html>
