<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/editor/modal.css"/>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
	<script type="text/javascript" src="js/unitEditor/setup.js"></script>
	<script type="text/javascript" src="js/unitEditor/newUnit.js"></script>
    </head>
    <body>
        <!-- The Modal -->
    <div id="myModal" class="modal">

    </div>
        <table style="width: 100%">
            <tr>
                <td width="25%"></td>
                <td width="50%">
                    <table>
                        <button id="newUnitButton">New Unit</button><br><br>
                        <table id="units_table" class="cell-border" style="text-align: top">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Asset Name</th>
                                <th>Fraction</th>
                                <th>Role</th>
                                <th>Tier</th>
                            </tr>
                        </thead>
                    </table>
                        <br>
                        <button id="button_delete">Delete</button>
                </td>
                <td width="25%"></td>
            </tr>
        </table>
    </body>
    <script>
        setup('units_table');
        var newUnitButton = document.getElementById("newUnitButton");
        newUnitButton.onclick = function(){
            var modal = document.getElementById("myModal");
            newUnit(modal);
        }
    </script>
</html>
